.productboard-column {
  background: white;
  flex: 0 0 32%;
  min-height: 500px;
}

.productboard-column-is-over {
  border: 1px solid #bdbdbd;
}

.productboad-column-title {
  background: #e7e7e7;
  padding: 7px;
  text-align: center;
  border: 4px solid white;
}
.productboad-column-title h3 {
  text-transform: uppercase;
  margin: 0;
}