.new-thread {
  border-top: 4px solid #e7e7e7;
  height: 24px;
}

.new-thread:hover {
  background: #e7e7e7;
}

.thread {
  border-bottom: 4px solid #e7e7e7;
  padding: 7px;
}

.thread-is-grey {
  background: #e7e7e7;
  cursor: move;
}